<div ng-include="'layout/menu.html'" ></div>
<div hm-swipe-right="handleGesture($event)">
	<div class="menu"><span class="title" lng="Contracts"></span><span class="left snap" ng-click="snap()"></span></div>
	<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
	<div class="loaded scrolling_stuff add-page">
		<div class="conditions">
			<h2>CONDITIONS GENERALES</h2>
			<p>La présente convention comprend les conditions particulières conclues entre RestoPass® et le Restaurateur et est indissociable des conditions générales de RestoPass® qui font intégralement partie du présent contrat sauf dans la mesure où il y est dérogé expréssement.</p>
			<p>Le Restaurateur déclare avoir pris connaissance des conditions générales de RestoPass® qui sont, par ailleurs, disponibles à l’adresse internet suivante : www.restopass.com/conditionsgenerales</p>
			<p>Le Restaurateur déclare accepter sans réserve les conditions générales de RestoPass® et accepte, le cas échéant, expressément d’écarter ses propres conditions générales.</p>
		</div>
	</div>
</div>